<h1>Login</h1>
<h3><i class="fa-solid fa-gamepad"></i> WishList</h3>
<div class="section">
    <p class = "lead">Bookmark your video games</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn purple darken-1">
        <i class="fa-brands fa-google"></i> Log in with Google
    </a>
</div>